body {
    margin: 0;
    font-family: system-ui;
    background: #0d1117;
    color: #e6edf3;
}

/* login */
#login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loginBox {
    padding: 20px;
    background: #161b22;
    border-radius: 12px;
}

/* app */
#app {
    display: none;
    height: 100vh;
}

/* sidebar */
#sidebar {
    width: 280px;
    background: #161b22;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #30363d;
}

#sidebar button {
    margin: 10px;
    padding: 10px;
    background: #238636;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#users {
    flex: 1;
    overflow-y: auto;
}

.user {
    padding: 12px;
    margin: 6px 10px;
    background: #21262d;
    border-radius: 10px;
    cursor: pointer;
}

.user:hover {
    background: #30363d;
}

/* chat */
#chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.msg {
    padding: 10px 14px;
    border-radius: 12px;
    max-width: 60%;
    word-break: break-word;
}

.me {
    align-self: flex-end;
    background: #238636;
}

.other {
    align-self: flex-start;
    background: #30363d;
}

/* input */
#inputBox {
    display: flex;
    padding: 10px;
    background: #161b22;
    border-top: 1px solid #30363d;
}

#inputBox input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #21262d;
    color: white;
}
